<!DOCTYPE html>
<html>
  <head>
    <title>BackendChallenge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <a href="/">Desafio Back End</a>
    </nav>
      <%= yield %>
  </body>
</html>
